<!DOCTYPE html>

{% load static %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Hello Django on Render!</title>

    <link
      rel="stylesheet"
      href="{% static "chessscan/boostrap.min.css" %}"
    />
  </head>
  <body>
    <a href="/">
      <img src="{% static "chessscan/bk.png" %}" alt="king" class="mw-100">
    </a>

    <main class="container">
      <div class="row text-center justify-content-center">
        <div class="col">
          <h1 class="display-4">Chess Scan!</h1>
        </div>
      </div>

      <form id="uploadForm" enctype="multipart/form-data">
        <input type="file" name="image" id="imageInput" />
        <button type="submit" id="uploadButton">Upload Image</button>
      </form>
      <div id="result"></div>

      <script src="{% static "chessscan/upload_script.js" %}"></script>
    </main>
  </body>
</html>
