<!DOCTYPE html>

{% load static %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Chess Scan</title>

    <link rel="stylesheet" href="{% static "chessscan/css/bootstrap.min.css" %}"
    /> <link rel="stylesheet" href="{% static "chessscan/css/main.css" %}" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/"
          ><img src="{% static "chessscan/img/logo.png" %}" alt="king"
          class="navbar-link-img"></a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse justify-content-end"
          id="navbarNav"
        >
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="mt-5 text-center rounded-3">
        <h1 class="text-body-emphasis">Chess Scan</h1>
        <p class="col-lg-8 mx-auto fs-5 text-muted">
          Get FEN and board evaluation from a screenshot
        </p>
        <div class="d-inline-flex mb-5">
          <form id="uploadForm" enctype="multipart/form-data">
            <div class="d-flex flex-column">
              <input type="file" name="image" id="imageInput" hidden />
              <label for="imageInput" class="btn btn-secondary m-2"
                >Choose file</label
              >
              <span id="file-chosen" class="pb-5">No file chosen</span>

              <div class="d-flex flex-row">
                <div class="custom-control custom-radio">
                  <input
                    type="radio"
                    id="image1"
                    name="image"
                    class="custom-control-input"
                    checked
                  />
                  <label class="custom-control-label" for="image1"
                    ><img src="{% static "chessscan/img/bk_classic.png" %}" alt="Image 1"
                  /></label>
                </div>
  
                <div class="custom-control custom-radio">
                  <input
                    type="radio"
                    id="image2"
                    name="image"
                    class="custom-control-input"
                  />
                  <label class="custom-control-label" for="image2"
                    ><img src="{% static "chessscan/img/bk_wood.png" %}" alt="Image 2"
                  /></label>
                </div>
              </div>

              <button type="submit" id="uploadButton" class="btn btn-primary">
                Scan
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="text-center rounded-3">
        <img id="imageContainer" src="" alt="" />
        <div class="input-group mb-3">
          <input
            id="result"
            type="text"
            class="form-control"
            placeholder="FEN"
            aria-label="fen"
            aria-describedby="copy-to-clipboard"
          />
          <button class="btn btn-primary" type="button" id="copy-to-clipboard">
            Copy to clipboard
          </button>
        </div>
        <a
          id="lichess-link"
          href=""
          class="btn btn-light d-none"
          target="_blank"
          >Analyze on Lichess</a
        >
      </div>
    </div>

    <div id="success-alert" class="alert alert-success d-none">
      Copied to clipboard!
    </div>

    {% csrf_token %}

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>

    <script>
      const backendUploadImageUrl = "{% url 'upload_image' %}";
      const csrftoken = document.querySelector(
        "[name=csrfmiddlewaretoken]"
      ).value;
    </script>

    <script src="{% static "chessscan/scripts/main.js" %}"></script>
  </body>
</html>
