.navbar-link-img {
    width: 100px;
}

#success-alert,
#danger-alert {
    position: absolute;
    top: 10vh;
    left: 2vw;
}

.custom-control-label img {
    width: 65px;
}

.custom-radio {
    padding: 0 10px;
}

.custom-control-label:hover {
    cursor: pointer;
}

.container {
    max-width: 600px;
}

.orange-border {
    border: 3px solid #E95420;
    border-radius: 10px;
}